<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @stock.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @stock.string %>
</p>

<p>
  <strong>Date:</strong>
  <%= @stock.date %>
</p>

<p>
  <strong>Date:</strong>
  <%= @stock.date %>
</p>

<p>
  <strong>String:</strong>
  <%= @stock.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @stock.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @stock.string %>
</p>

<p>
  <strong>References:</strong>
  <%= @stock.references %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
