<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Product:</strong>
  <%= @stock.product %>
</p>

<p>
  <strong>Batch No:</strong>
  <%= @stock.batch_no %>
</p>

<p>
  <strong>Quantity</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Manufacture Date</strong>
  <%= @stock.manufacture_date %>
</p>

<p>
  <strong>Expiry date</strong>
  <%= @stock.expiry_date %>
</p>

<p>
  <strong>Remark</strong>
  <%= @stock.remark %>
</p>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
</div>