<div class="container">
<%= simple_form_for(@delivery) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :inventory_no %>
    <%= f.input :supplier_name %>
    <%= f.input :product_name %>
     <%= f.input :description %>
    <%= f.input :quantity %>
    <%= f.input :batch_no %>     
    <%= f.input :manufacture_date, as: :date, html5: true %>
     <%= f.input :expiry_date , as: :date, html5: true %>
    <%= f.input :arrival_date , as: :date, html5: true %>
    <%= f.input :receipient %>
  	<%= f.input :remark %>
  </div>
  <div class="form-actions">
     <%= f.button :submit, "SUBMIT" ,class: "btn btn-primary" %>
  </div>
<% end %>
</div>