<%= provide(:title 'Inward'%>
<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @delivery.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @delivery.quantity %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @delivery.weight %>
</p>

<p>
  <strong>User:</strong>
  <%= @delivery.user %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
</div>