<% provide(:title, 'Outward Goods')%>
<%= render "/admin_navbar" %>

<h1 style="text-align: center;">Outward Goods</h1>

<div class="container-fluid">
  <div class="row col-md-12  custyle">
    <p id="notice" style = "text-transform: uppercase; font-weight: bolder;"><%= notice %></p>
    <table class="table table-bordered table-striped custab">
      <thead>
        <%= form_tag supplies_path, method: :get  do %>
        <%= text_field_tag 'search_item', params[:search_item], placeholder: "search goods" %>
        <%= submit_tag 'Search' %>
        <% end%>
        <% if current_user.has_role? :admin %>
          <div>
        <%= link_to  new_supply_path, :class =>"btn btn-primary btn-xs pull-right" do%>
        <b>+</b> ADD GOODS
        <%end%>
        <%end%>        
        <%= link_to "Back", :back , :class =>"btn btn-primary btn-xs pull-right"%>
        </div>
        <tr>
          <th>S/N</th>
          <th >CUSTOMER NAME</th>
          <th>QUANTITY</th>
          <th>DECSRIPTION</th>
          <th>PACK SIZE</th>
          <th>PRICE PER UNIT(#)</th>
          <th>BATCH NO</th>
          <th>PURCHASED</th>
          <th>MANUFACTURED</th>
          <th>EXPIRES</th>
          <th>TOTAL(#)</th>
          <th>REMARK</th>
          <th class="text-center" colspan="2">ACTION</th>
        </tr>
      </thead>
      <% @supplies.each do |supply| %>
      <tr>
        <td><%= supply.id %></td>
        <td><%= supply.customer_name.upcase %></td>
        <td><%= supply.quantity %></td>
        <td><%= supply.description %></td>
        <td><%= supply.pack_size %></td>
        <td><%= supply.price_per_unit %></td>
        <td><%= supply.batch_no %></td>
        <td><%= supply.purchase_date %></td>
        <td><%= supply.manufacture_date %></td>
        <td><%= supply.expiry_date %></td>
        <td><%= ((supply.price_per_unit.to_f) * (supply.quantity.to_f)) %></td>
        <td><%= supply.remark %></td>
        
        <td class="text-center">  
          <%= link_to  edit_supply_path(supply), :class => "btn btn-danger btn-xs" do%>
          <i class="glyphicon glyphicon-edit"> EDIT</i>
          <%end%>
        </td>
        <td class="text-center">  
          <%= link_to  supply, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" do%>
          <i class="glyphicon glyphicon-trash"> DELETE</i>
          <%end%>
        </td>
      </tr>
      <%end%>
    </table>
    <div class="digg_pagination">
      <%= will_paginate @supplies, renderer: BootstrapPagination::Rails %>
    </div>
  </div>

</div>