
<div class="container example2">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% if user_signed_in? %>
          <%= link_to  dashboards_index_path , class:"navbar-brand" do%>
          <%= image_tag("logo-no2.png", style: "width: 140px; margin-top: -26px;", class:"img-responsive")%>
          <%end%>
        <%else%>
        <%= link_to  root_path , class:"navbar-brand" do%>
          <%= image_tag("logo-no2.png", style: "width: 140px; margin-top: -26px;", class:"img-responsive")%>
          <%end%>
        <%end%>

      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "SUPPLIES" , supplies_path %></li>
          <% if current_user.has_role? :admin %>
          <li><%= link_to "EDIT POSTS" , post_path(1) %></li>
          <%end%>
          <li><%= link_to "DELIVERIES" , deliveries_path%></li>
          <li><%= link_to "EDIT ACCOUNT" , edit_user_registration_path%></li>
          <li>
            <%= link_to  destroy_user_session_path, method: :delete  do %>
                <span class="glyphicon glyphicon-log-out"></span>
                    LOGOUT(<%= current_user.email%>)
             <%end%>
                    </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>
