<!DOCTYPE html>
<html>
  <head>
   <title><%= yield(:title) %></title>
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal"> 
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    "application", :media => "all" , 'data-turbolinks-track': 'reload'%>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 	<%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
